/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
* {
  font-family: Roboto;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color:darken(#fff,8);
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }

  &:active {
    text-decoration: none;
    color: inherit;
  }
}

//scrollbar
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 2.5px;

  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }
}

//form fields
textarea {
  resize: none !important;
}

//fixed


main-content {
  display: flex;
  flex: 1;
  margin: 2rem;

  @media (max-width: 900px) {
      flex-direction:column;
  }
}
